absl-py==2.1.0
accelerate==1.9.0
action_msgs==1.2.1
action_tutorials_interfaces==0.20.3
action_tutorials_py==0.20.3
actionlib_msgs==4.2.3
aiohappyeyeballs==2.6.1
aiohttp==3.12.14
aiosignal==1.4.0
ament_cmake_test==1.3.7
ament_copyright @ file:///Users/runner/mambaforge/conda-bld/ros-humble-ament-copyright-0_1707308190728/work/ros-humble-ament-copyright/src/work
ament_cppcheck @ file:///Users/runner/mambaforge/conda-bld/ros-humble-ament-cppcheck-0_1707307054406/work/ros-humble-ament-cppcheck/src/work
ament_cpplint @ file:///Users/runner/mambaforge/conda-bld/ros-humble-ament-cpplint-0_1707308539441/work/ros-humble-ament-cpplint/src/work
ament_flake8 @ file:///Users/runner/mambaforge/conda-bld/ros-humble-ament-flake8-0_1707307702779/work/ros-humble-ament-flake8/src/work
ament_index_python @ file:///Users/runner/mambaforge/conda-bld/ros-humble-ament-index-python-0_1707308576571/work/ros-humble-ament-index-python/src/work
ament_lint @ file:///Users/runner/mambaforge/conda-bld/ros-humble-ament-lint-0_1707307020388/work/ros-humble-ament-lint/src/work
ament_lint_cmake @ file:///Users/runner/mambaforge/conda-bld/ros-humble-ament-lint-cmake-0_1707308398242/work/ros-humble-ament-lint-cmake/src/work
ament_package @ file:///Users/runner/mambaforge/conda-bld/ros-humble-ament-package-0_1707306865300/work/ros-humble-ament-package/src/work
ament_pep257 @ file:///Users/runner/mambaforge/conda-bld/ros-humble-ament-pep257-0_1707307916827/work/ros-humble-ament-pep257/src/work
ament_uncrustify @ file:///Users/runner/mambaforge/conda-bld/ros-humble-ament-uncrustify-0_1707344223350/work/ros-humble-ament-uncrustify/src/work
ament_xmllint @ file:///Users/runner/mambaforge/conda-bld/ros-humble-ament-xmllint-0_1707308497949/work/ros-humble-ament-xmllint/src/work
ane_transformers==0.1.1
angles==1.15.0
argcomplete @ file:///home/conda/feedstock_root/build_artifacts/argcomplete_1728338986254/work
astunparse==1.6.3
attrs==25.3.0
beautifulsoup4==4.13.4
Brotli @ file:///Users/runner/miniforge3/conda-bld/brotli-split_1725267563793/work
builtin_interfaces==1.2.1
catkin-pkg @ file:///home/conda/feedstock_root/build_artifacts/catkin_pkg_1694651879177/work
catkin-tools @ file:///home/conda/feedstock_root/build_artifacts/catkin_tools_1691089410339/work
cattrs==24.1.2
certifi==2025.7.14
cffi==1.17.1
charset-normalizer==3.4.2
click==8.2.1
colcon-argcomplete @ file:///home/conda/feedstock_root/build_artifacts/colcon-argcomplete_1649143410380/work
colcon-bash @ file:///home/conda/feedstock_root/build_artifacts/colcon-bash_1695707631156/work
colcon-cd @ file:///home/conda/feedstock_root/build_artifacts/colcon-cd_1649143092283/work
colcon-cmake @ file:///home/conda/feedstock_root/build_artifacts/colcon-cmake_1696469292972/work
colcon-common-extensions @ file:///Users/runner/miniforge3/conda-bld/colcon-common-extensions_1726305038084/work
colcon-core @ file:///home/conda/feedstock_root/build_artifacts/colcon-core_1729242911208/work
colcon-defaults @ file:///home/conda/feedstock_root/build_artifacts/colcon-defaults_1675322054387/work
colcon-devtools @ file:///home/conda/feedstock_root/build_artifacts/colcon-devtools_1710398971697/work
colcon-library-path==0.2.1
colcon-metadata @ file:///home/conda/feedstock_root/build_artifacts/colcon-metadata_1597041627739/work
colcon-output @ file:///home/conda/feedstock_root/build_artifacts/colcon-output_1676526198897/work
colcon-package-information @ file:///home/conda/feedstock_root/build_artifacts/colcon-package-information_1710398986900/work
colcon-package-selection @ file:///home/conda/feedstock_root/build_artifacts/colcon-package-selection_1602006931176/work
colcon-parallel-executor @ file:///home/conda/feedstock_root/build_artifacts/colcon-parallel-executor_1728813333944/work
colcon-pkg-config==0.1.0
colcon-powershell @ file:///home/conda/feedstock_root/build_artifacts/colcon-powershell_1696619376643/work
colcon-python-setup-py @ file:///home/conda/feedstock_root/build_artifacts/colcon-python-setup-py_1728887788662/work
colcon-recursive-crawl @ file:///home/conda/feedstock_root/build_artifacts/colcon-recursive-crawl_1696534495468/work
colcon-ros @ file:///home/conda/feedstock_root/build_artifacts/colcon-ros_1719301487783/work
colcon-test-result==0.3.8
colcon-zsh @ file:///home/conda/feedstock_root/build_artifacts/colcon-zsh_1696623792455/work
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1666700638685/work
coloredlogs @ file:///home/conda/feedstock_root/build_artifacts/coloredlogs_1643220139154/work
composition_interfaces==1.2.1
contourpy @ file:///Users/runner/miniforge3/conda-bld/contourpy_1729602397815/work
control_msgs==4.4.0
controller_manager==2.38.0
controller_manager_msgs==2.38.0
coverage @ file:///Users/runner/miniforge3/conda-bld/coverage_1729610080862/work
cppcheck-htmlreport @ file:///Users/runner/miniforge3/conda-bld/cppcheck_1725712484085/work/htmlreport
cryptography==45.0.5
cv_bridge==3.2.1
cycler @ file:///home/conda/feedstock_root/build_artifacts/cycler_1696677705766/work
datasets==4.0.0
demo_nodes_py==0.20.3
diagnostic_msgs==4.2.3
dill==0.3.8
distlib @ file:///home/conda/feedstock_root/build_artifacts/distlib_1728557174656/work
distro @ file:///home/conda/feedstock_root/build_artifacts/distro_1704321475663/work
docutils @ file:///home/conda/feedstock_root/build_artifacts/docutils_1713930378730/work
domain_coordinator @ file:///Users/runner/mambaforge/conda-bld/ros-humble-domain-coordinator-0_1707308385556/work/ros-humble-domain-coordinator/src/work
empy==3.3.4
evaluate==0.4.5
example_interfaces==0.9.3
examples_rclpy_executors==0.15.1
examples_rclpy_minimal_action_client==0.15.1
examples_rclpy_minimal_action_server==0.15.1
examples_rclpy_minimal_client==0.15.1
examples_rclpy_minimal_publisher==0.15.1
examples_rclpy_minimal_service==0.15.1
examples_rclpy_minimal_subscriber==0.15.1
filelock==3.18.0
flake8 @ file:///home/conda/feedstock_root/build_artifacts/flake8_1722878870427/work
flatbuffers==24.12.23
fonttools @ file:///Users/runner/miniforge3/conda-bld/fonttools_1729530362764/work
frozenlist==1.7.0
fsspec==2025.3.0
gast==0.6.0
gazebo_msgs==3.7.0
generate_parameter_library_py @ file:///Users/runner/mambaforge/conda-bld/ros-humble-generate-parameter-library-py-0_1707308417368/work/ros-humble-generate-parameter-library-py/src/work
geometry_msgs==4.2.3
gmpy2 @ file:///Users/runner/miniforge3/conda-bld/gmpy2_1733462580180/work
google-pasta==0.2.0
grpcio==1.68.1
h2 @ file:///home/conda/feedstock_root/build_artifacts/h2_1733298745555/work
hpack @ file:///home/conda/feedstock_root/build_artifacts/hpack_1733299205993/work
huggingface-hub==0.27.0
humanfriendly @ file:///home/conda/feedstock_root/build_artifacts/humanfriendly_1696765224545/work
hyperframe @ file:///home/conda/feedstock_root/build_artifacts/hyperframe_1733298771451/work
idna==3.10
image_geometry==3.2.1
importlib_resources @ file:///home/conda/feedstock_root/build_artifacts/importlib_resources_1725921340658/work
iniconfig @ file:///home/conda/feedstock_root/build_artifacts/iniconfig_1673103042956/work
interactive_markers==2.3.2
Jinja2==3.1.6
joblib==1.5.1
joint_state_publisher==2.4.0
joint_state_publisher_gui==2.4.0
kagglehub==0.3.12
keras==3.7.0
kiwisolver==1.4.8
lark-parser @ file:///home/conda/feedstock_root/build_artifacts/lark-parser_1725742324642/work
laser_geometry==2.4.0
launch @ file:///Users/runner/mambaforge/conda-bld/ros-humble-launch-0_1707308759405/work/ros-humble-launch/src/work
launch_ros @ file:///Users/runner/mambaforge/conda-bld/ros-humble-launch-ros-0_1707992666204/work/ros-humble-launch-ros/src/work
launch_testing @ file:///Users/runner/mambaforge/conda-bld/ros-humble-launch-testing-0_1707344587882/work/ros-humble-launch-testing/src/work
launch_testing_ros==0.19.7
launch_xml @ file:///Users/runner/mambaforge/conda-bld/ros-humble-launch-xml-0_1707344274623/work/ros-humble-launch-xml/src/work
launch_yaml @ file:///Users/runner/mambaforge/conda-bld/ros-humble-launch-yaml-0_1707344251738/work/ros-humble-launch-yaml/src/work
libclang==18.1.1
lifecycle_msgs==1.2.1
logging_demo==0.20.3
loguru @ file:///Users/runner/miniforge3/conda-bld/loguru_1725349802853/work
lxml @ file:///Users/runner/miniforge3/conda-bld/lxml_1715598459300/work
map_msgs==2.1.0
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==3.0.2
matplotlib==3.10.3
mccabe @ file:///home/conda/feedstock_root/build_artifacts/mccabe_1643049622439/work
mdurl==0.1.2
message_filters==4.3.3
mpmath==1.3.0
msgpack @ file:///Users/runner/miniforge3/conda-bld/msgpack-python_1725975032735/work
multidict==6.6.3
multiprocess==0.70.16
munkres==1.1.4
namex==0.0.8
nav_msgs==4.2.3
netifaces @ file:///Users/runner/miniforge3/conda-bld/netifaces_1695545554820/work
networkx==3.4.2
nltk==3.9.1
numpy==2.2.6
opencv-python==4.9.0
opt_einsum==3.4.0
osrf-pycommon @ file:///home/conda/feedstock_root/build_artifacts/osrf_pycommon_1626758968833/work
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1718189413536/work
pandas==2.3.1
pcl_msgs==1.0.0
pdfminer.six==20250506
pdfplumber==0.11.7
pendulum_msgs==0.20.3
pep517 @ file:///home/conda/feedstock_root/build_artifacts/pep517_1667916641627/work
pillow==11.2.1
pluggy @ file:///home/conda/feedstock_root/build_artifacts/pluggy_1713667077545/work
ply @ file:///home/conda/feedstock_root/build_artifacts/ply_1712242996588/work
propcache==0.3.2
protobuf==5.29.2
psutil @ file:///Users/runner/miniforge3/conda-bld/psutil_1728965170294/work
pyaml==24.12.1
pyarrow==21.0.0
pybind11 @ file:///home/conda/feedstock_root/build_artifacts/pybind11-split_1729256490124/work
pybind11_global @ file:///home/conda/feedstock_root/build_artifacts/pybind11-split_1729256490124/work
pybullet @ file:///Users/runner/miniforge3/conda-bld/bullet_1725366800591/work
pycairo==1.27.0
pycodestyle @ file:///home/conda/feedstock_root/build_artifacts/pycodestyle_1722846760694/work
pycparser==2.22
pydocstyle @ file:///home/conda/feedstock_root/build_artifacts/pydocstyle_1673997487070/work
pydot @ file:///Users/runner/miniforge3/conda-bld/pydot_1726737256783/work
pyflakes @ file:///home/conda/feedstock_root/build_artifacts/pyflakes_1704424584912/work
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1714846767233/work
PyMuPDF==1.26.3
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/pyparsing_1728880423364/work
pypdfium2==4.30.0
PyQt-builder @ file:///home/conda/feedstock_root/build_artifacts/pyqt-builder_1701609913068/work
PyQt5-sip==12.12.2
PySocks @ file:///home/conda/feedstock_root/build_artifacts/pysocks_1733217236728/work
pytest @ file:///home/conda/feedstock_root/build_artifacts/pytest_1725977232342/work
pytest-cov @ file:///home/conda/feedstock_root/build_artifacts/pytest-cov_1711411024363/work
pytest-repeat @ file:///home/conda/feedstock_root/build_artifacts/pytest-repeat_1696219743395/work
pytest-rerunfailures @ file:///home/conda/feedstock_root/build_artifacts/pytest-rerunfailures_1710357330620/work
python-dateutil==2.9.0.post0
python_qt_binding==1.1.2
pytz==2025.2
PyYAML @ file:///Users/runner/miniforge3/conda-bld/pyyaml_1725456256847/work
qt_dotgraph==2.2.3
qt_gui==2.2.3
qt_gui_cpp==2.2.3
qt_gui_py_common==2.2.3
quality_of_service_demo_py==0.20.3
rcl_interfaces==1.2.1
rclpy==3.3.11
rcutils==5.1.4
regex==2024.11.6
requests==2.32.4
resource_retriever==3.1.1
rich==13.9.4
rmw_dds_common==1.6.0
ros2action @ file:///Users/runner/mambaforge/conda-bld/ros-humble-ros2action-0_1707994291741/work/ros-humble-ros2action/src/work
ros2bag @ file:///Users/runner/mambaforge/conda-bld/ros-humble-ros2bag-0_1708041919697/work/ros-humble-ros2bag/src/work
ros2cli @ file:///Users/runner/mambaforge/conda-bld/ros-humble-ros2cli-0_1707992750435/work/ros-humble-ros2cli/src/work
ros2component @ file:///Users/runner/mambaforge/conda-bld/ros-humble-ros2component-0_1707996424657/work/ros-humble-ros2component/src/work
ros2doctor @ file:///Users/runner/mambaforge/conda-bld/ros-humble-ros2doctor-0_1707994261273/work/ros-humble-ros2doctor/src/work
ros2interface @ file:///Users/runner/mambaforge/conda-bld/ros-humble-ros2interface-0_1707994214071/work/ros-humble-ros2interface/src/work
ros2launch @ file:///Users/runner/mambaforge/conda-bld/ros-humble-ros2launch-0_1707995564343/work/ros-humble-ros2launch/src/work
ros2lifecycle @ file:///Users/runner/mambaforge/conda-bld/ros-humble-ros2lifecycle-0_1707995736187/work/ros-humble-ros2lifecycle/src/work
ros2multicast @ file:///Users/runner/mambaforge/conda-bld/ros-humble-ros2multicast-0_1707993570511/work/ros-humble-ros2multicast/src/work
ros2node @ file:///Users/runner/mambaforge/conda-bld/ros-humble-ros2node-0_1707993957609/work/ros-humble-ros2node/src/work
ros2param @ file:///Users/runner/mambaforge/conda-bld/ros-humble-ros2param-0_1707995679827/work/ros-humble-ros2param/src/work
ros2pkg @ file:///Users/runner/mambaforge/conda-bld/ros-humble-ros2pkg-0_1707994129536/work/ros-humble-ros2pkg/src/work
ros2run @ file:///Users/runner/mambaforge/conda-bld/ros-humble-ros2run-0_1707995632510/work/ros-humble-ros2run/src/work
ros2service @ file:///Users/runner/mambaforge/conda-bld/ros-humble-ros2service-0_1707994163272/work/ros-humble-ros2service/src/work
ros2topic @ file:///Users/runner/mambaforge/conda-bld/ros-humble-ros2topic-0_1707993956849/work/ros-humble-ros2topic/src/work
rosbag2_interfaces==0.15.9
rosbag2_py==0.15.9
rosdep @ file:///home/conda/feedstock_root/build_artifacts/rosdep_1724399460306/work
rosdistro @ file:///Users/runner/miniforge3/conda-bld/rosdistro_1725535797430/work
rosgraph_msgs==1.2.1
rosidl_adapter==3.1.5
rosidl_cli @ file:///Users/runner/mambaforge/conda-bld/ros-humble-rosidl-cli-0_1707308788302/work/ros-humble-rosidl-cli/src/work
rosidl_cmake==3.1.5
rosidl_generator_c==3.1.5
rosidl_generator_cpp==3.1.5
rosidl_generator_py==0.14.4
rosidl_parser==3.1.5
rosidl_runtime_py @ file:///Users/runner/mambaforge/conda-bld/ros-humble-rosidl-runtime-py-0_1707991025046/work/ros-humble-rosidl-runtime-py/src/work
rosidl_typesupport_c==2.0.1
rosidl_typesupport_cpp==2.0.1
rosidl_typesupport_fastrtps_c==2.2.2
rosidl_typesupport_fastrtps_cpp==2.2.2
rosidl_typesupport_introspection_c==3.1.5
rosidl_typesupport_introspection_cpp==3.1.5
rospkg @ file:///home/conda/feedstock_root/build_artifacts/rospkg_1713573866903/work
rpyutils @ file:///Users/runner/mambaforge/conda-bld/ros-humble-rpyutils-0_1707308822975/work/ros-humble-rpyutils/src/work
rqt_action==2.0.1
rqt_bag @ file:///Users/runner/mambaforge/conda-bld/ros-humble-rqt-bag-0_1708042005724/work/ros-humble-rqt-bag/src/work
rqt_bag_plugins @ file:///Users/runner/mambaforge/conda-bld/ros-humble-rqt-bag-plugins-0_1708043590433/work/ros-humble-rqt-bag-plugins/src/work
rqt_console==2.0.2
rqt_graph @ file:///Users/runner/mambaforge/conda-bld/ros-humble-rqt-graph-0_1707994115988/work/ros-humble-rqt-graph/src/work
rqt_gui @ file:///Users/runner/mambaforge/conda-bld/ros-humble-rqt-gui-0_1707992781826/work/ros-humble-rqt-gui/src/work
rqt_gui_py==1.1.6
rqt_msg==1.2.0
rqt_plot==1.1.2
rqt_publisher==1.5.0
rqt_py_common==1.1.6
rqt_py_console==1.0.2
rqt_reconfigure==1.1.2
rqt_service_caller==1.0.5
rqt_shell==1.0.2
rqt_srv==1.0.3
rqt_topic==1.5.0
safetensors==0.4.5
scripts==3.7.0
sensor_msgs==4.2.3
sensor_msgs_py==4.2.3
shape_msgs==4.2.3
sip @ file:///Users/runner/miniforge3/conda-bld/sip_1727796586741/work
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
snowballstemmer @ file:///home/conda/feedstock_root/build_artifacts/snowballstemmer_1637143057757/work
soupsieve==2.7
sros2 @ file:///Users/runner/mambaforge/conda-bld/ros-humble-sros2-0_1707996389005/work/ros-humble-sros2/src/work
statistics_msgs==1.2.1
std_msgs==4.2.3
std_srvs==4.2.3
stereo_msgs==4.2.3
sympy==1.14.0
teleop_twist_keyboard==2.3.2
tensorboard==2.20.0
tensorboard-data-server==0.7.2
tensorflow-io-gcs-filesystem==0.37.1
termcolor==2.5.0
tf2_geometry_msgs==0.25.5
tf2_kdl==0.25.5
tf2_msgs==0.25.5
tf2_py==0.25.5
tf2_ros_py==0.25.5
tf2_tools==0.25.5
tokenizers==0.21.0
toml @ file:///home/conda/feedstock_root/build_artifacts/toml_1604308577558/work
tomli @ file:///home/conda/feedstock_root/build_artifacts/tomli_1727974628237/work
topic_monitor==0.20.3
torch==2.7.0
torchaudio==2.2.2
torchvision==0.22.0
tqdm==4.67.1
trajectory_msgs==4.2.3
transformers==4.47.1
turtlesim==1.4.2
typeguard @ file:///home/conda/feedstock_root/build_artifacts/typeguard_1721540425920/work
typing_extensions==4.14.1
tzdata==2025.2
unicodedata2 @ file:///Users/runner/miniforge3/conda-bld/unicodedata2_1729704585212/work
unique_identifier_msgs==2.2.1
urllib3==2.5.0
visualization_msgs==4.2.3
vtk==9.2.6
Werkzeug==3.1.3
wikipedia==1.4.0
Wikipedia-API==0.8.1
wslink @ file:///home/conda/feedstock_root/build_artifacts/wslink_1726544007929/work
xacro==2.0.8
xxhash==3.5.0
yarl==1.20.1
zstandard==0.23.0
